@media screen and (max-width:1080px) {

    nav{flex-direction: column;}

    .left{right: 15px;
    top: -85px;}

    li{position: relative;
    top: -50px;}

    .list{position: relative;
    top: -30px;}

    header{height: 80px;}
    
    .content {margin-top: -8px;}

    .content h1{font-size: 90px;
margin-top: 50px;}

    .content1 h1{position: relative;
        right: -13px;}

    .box{width: 175px;
    height: 210px;
margin-left: -10px;}

    .box img{width:175px;}

    .clients img{width: 350px;}

    .clients{margin-left: 3px;
    margin-top: 40px;}

    body::before{height: 100%;}


    


}